
 
.py[cod]
.pyc
# C extensions
*.so
#OS
.DS_Store
.db
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Eclipse
.project
.pydevproject
